<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang='ru'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, user-scalable=0" />
	<meta name="HandheldFriendly" content="true">
	<title>The name site</title>
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
	<script src="/site/cvresume-web/js/jquery-3.6.1.min.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<!-- link rel="stylesheet" href="/site/cvresume-web/css/nulstyle-dist.css" type='text/css' --> <!-- Zero style -->
	<!-- link rel="stylesheet" href="/site/cvresume-web/css/style-dist.css" type='text/css' --> <!-- Common style -->
	<!--link rel="stylesheet" href="/site/cvresume-web/css/screen-style-dist.css" type='text/css' --> <!-- media a screen's size style -->
	<link rel="stylesheet" href="/site/cvresume-web/apps/static/apps/css/nulstyle-dist.css" type='text/css'> <!-- Zero style -->
		<link rel="stylesheet" href="/site/cvresume-web/apps/static/apps/css/style-dist.css" type='text/css'> <!-- Common style -->
		<link rel="stylesheet" href="/site/cvresume-web/apps/static/apps/css/screen-style-dist.css" type='text/css'> <!-- media a screen's size style -->
    	<!--	«IE=EmulateIE8» -->
	<!--	 «IE» -->
	<link rel="stylesheet" href="/site/cvresume-web/css/ie-style.css" media="all" > <!--The browswr's IE style -->
	<meta http-equiv= "X-UA-Compatible" content="IE-edge">
	<!-- [if lte IE8] -->
<!-- 8% 0%, 0% 10%, 40% 50%, 0% 99%, 16% 100%, 46% 60%, 85% 100%, 100% 85%, 52% 47%, 100% 15%, 100% 0%, 50% 30	 -->

   <script src="/site/cvresume-web/js/functions.js"></script>
</head>
<body>
<div>
   <script>

   </script>
   <!--- SIDEBAR beginning-->
	<aside id="sidbar">
		<div>
			<img class="main_preview" src="/site/cvresume-web/img/foto.png">
			<div class=""></div>
			<h2>Al Rayhan</h2>
         <h4>JI/UX Export</h4>
		</div>
		<nav class="sidbar_mobile__noactive">
			<ul>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >Home</a></li>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >About Me</a></li>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >Education</a></li>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >Work Experience</a></li>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >Skills</a></li>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >Portfolio</a></li>
				<li class="nav"><a href="/site/cvresume-web/portfolio_group/index.html" >Contacts</a></li>
			</ul>
		</nav>
	</aside>
   <!--- SIDEBAR completed-->

   <!-- HEAD beginning -->
	<header>
		<h1>Lets Make Something Great</h1>
		<h2>I’m an UI designer that prides ourself on being strategic brand partners and awesome product providers</h2>
		<div><a href="/site/cvresume-web/portfolio_group/index.html">Hire Me!</a></div>
	</header>
   <!-- HEAD completed-->

	 <!-- CONTENT beginning -->
	 <div class = "main" >
	<main>
		<section class="portfolio_group">
			<div portfolio_group__left>
				<h2>About Me</h2>

				<div>Lorem ipsum dolor sit amet, ectetuer nonummy nibh euismod tincidunt ut laoreet  magna  laoreet  aliquam erat volutpat.</div>
				<div >
					<ul>
						<li class="title"><h3>Name:</h3><span>Al Rayhan</span></li>
						<li class="title"><h3>Age:</h3><span>23</span><span>Years</span></li>
						<li class="title"><h3>Email:</h3><span>mail@deviserweb.com</span></li>
						<li class="title"><h3>Web:</h3><span>deviserweb.com</span></li>
						<li class="title"><h3>Address:</h3><span>24, Golden Street, New</span></li>
					</ul>
				</div>
			</div>
			<div>
				<img src="/site/cvresume-web/portfolio_group/index.html" alt="My photo" />
			</div>
		</section>
		<section class="experience">
			<h2>Work Experience</h2>
			<div class="experience__left">
				<ul>
					<li class="workNme">
						<h4>CEO & Founder</h4>
						<span>@DeviserWeb</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
				<ul>
					<li class="workNme">
						<h4>Marketing Manager</h4>
						<span>@StarLab</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
			</div>
			<div class="experience__right">
				<ul>
					<li class="workNme">
						<h4>UI/UX Designer</h4>
						<span>@Academy</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
				<ul>
					<li class="workNme">
						<h4>Creative Director</h4>
						<span>@Academy</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>

			</div>

		</section>
		<section class="experience">
			<h2>Education</h2>
			<div class="experience__left">
				<ul>
					<li class="workNme">
						<h4>Art & Multimedia</h4>
						<span>@Oxford University</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
				<ul>
					<li class="workNme">
						<h4>@AIUB</h4>
						<span>@Academy</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
			</div>
			<div class="experience__right">
				<ul>
					<li class="workNme">
						<h4>@AIUB</h4>
						<span>@Academy</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
				<ul>
					<li class="workNme">
						<h4>@AIUB</h4>
						<span>@Academy</span>
						<div class="workDate">Jan 2013 - Dec 2014</div>
						<div>Lorem ipsum dolor sit amet, consectetur et incididunt ut labore et dolorea.</div>
					</li>
				</ul>
			</div>

		</section>

		<section class="skills">
			<h2>My Skills</h2>
			<div class="dataSkills">
				<ul>
					<li class="skill">
						<h3>User Experience</h3>
						<div>
							<div class="line">
								<div class="percent">90</div>
								<div class="liner"></div>
							</div>
						</div>
					</li>
					<li class="skill">
						<h3>User Experience</h3>
						<div>
							<div class="line">
								<div class="percent">90</div>
								<div class="liner"></div>
							</div>
						</div>
					</li>
					<li class="skill">
						<h3>User Experience</h3>
						<div>
							<div class="line">
								<div class="percent">90</div>
								<div class="liner"></div>
							</div>
						</div>
					</li>

				</ul>
			</div>
			<div class="dataSkills">
				<ul>
					<li class="skill">
						<h3>User Experience</h3>
						<div>
							<div class="line">
								<div class="percent">90</div>
								<div class="liner"></div>
							</div>
						</div>
					</li>
					<li class="skill">
						<h3>User Experience</h3>
						<div>
							<div class="line">
								<div class="percent">90</div>
								<div class="liner"></div>
							</div>
						</div>
					</li>
					<li class="skill">
						<h3>User Experience</h3>
						<div>
							<div class="line">
								<div class="percent">90</div>
								<div class="liner"></div>
							</div>
						</div>
					</li>

				</ul>
			</div>
		</section>
		<section>
			<div>
				<div class="contacts-group">
					<h2>Leave a Massage</h2>
					<form class='Leave-group'>
						<div>
							<input id='username' name='username' type='text'value='Name*' maxlenght='20' reguired='reduired' >
						</div>
						<div>
							<input id='user-email' name='user-email' type='email' placeholder='name-email@damain.com' value='Email*' maxlenght='20' reguired='reduired' placeholder='Please, inter the your @-email. It is compulsory field.'>
						</div>
						<div>
							<textarea id='userMessage' name='user-message' wrap='soft' rows='10' cols="45" reguired='reduired'>Message*</textarea>
						</div>
						<div>
							<input type='button'  name='button' value='Hire Me!'>
						</div>

					</form>
				</div>
				<div class="contacts-group">
					<div>
						<h3>Location</h3>
						<div id='Location'>324, Golden Tower, Amborkhana, Sylhet</div>
					</div>
					<div>
						<h3>Email</h3>
						<div id='email'><a href='email:junaed@deviserweb.com'>junaed@deviserweb.com</a></div>
					</div>
					<div>
						<h3>Toll Free Call</h3>
						<div id='Location'><a href='tel:0800 234 6578'>0800 234 6578</a></div>
					</div>

				</div>
			</div>
		</section>
	</main>
</div>
<!-- CONTENT completed -->

<!-- FOOTER beginning -->
	<footer>
		<div>
			<div>
				<a href='/#01'></a>
				<a href='/#01'></a>
				<a href='/#01'></a>
			</div>
			<p>Copyright: Junaed Ahmed, All rights reserved</p>
		</div>
	</footer>
<!-- FOOTER completed -->
</div>
</body>
</html>
