**/.env
**/bazis_pip_pagege.txt

**/.idea
**/resta
**/#source
**/client
**/__pycache__
**/inside_page
**/scss/inside.scss
**/css/inside.css
**/img/*

**/prepros.config
**/prepros.config
**/simply_file.css
**/style.css
**/css/nulstyle.css
**/css/screen-style.css
**/*.css.map
**/*.json
**/Help_File.txt

**/Main_File/img/
**/Main_File/*.psd
**/Main_File/Resume_Home_54seo.png
**/Main_File/portfolio_a_.png
**/Main_File/Resume_Single_Portfolio.png

