**/.idea
**/resta
**/prepros.config
**/prepros.config
**/simply_file.css

**/#source
**/.idea
**/.git

**/style.css
**/*.json
**/*.txt

**/css/nulstyle.css
**/css/portfolio-style.css
**/css/screen-style.css

