/* The common body-style - start */

body{ background-color:#353541; padding:0; margin:0;}

body> div{    display: table;}

body > div {max-width: 1225px;width: inherit;margin: 0 auto;position: relative;padding-bottom: 121px;}

aside, header, .main {display: table-cell;}

/* The common body-style - End */

/* THe sidbar-style - start */

#sidbar{width: 274px;height:inherit;float: none;clear:both;}

#sidbar > div {background-color:  #2e3b4b;background: -webkit-gradient(linear, left top, left bottom, from(#2e3b4b), to(#08090b));background: linear-gradient(to bottom, #2e3b4b, #08090b);min-height:219px;position: relative; }

#sidbar > div > div{display: none; background-color:#09e712;width:18px;height:18px;left: 46px;top: 33px;
-webkit-clip-path:
polygon
(0px 1px, 1px 0px, 10.1px 8px, 17px 0px, 15px 1px, 19px 0px, 11px 9px, 18px 18px, 16px 18px, 10px 11px,2px 18px, 0px 18px, 9px 9px);clip-path: polygon(0px 1px, 1px 0px, 10.1px 8px, 17px 0px, 15px 1px, 19px 0px, 11px 9px, 18px 18px, 16px 18px, 10px 11px,2px 18px, 0px 18px, 9px 9px);}

#sidbar > div h4, #sidbar > div h2 {position:absolute;bottom: 14px;left: 26px;}
#sidbar > div h4 a, #sidbar > div h2 a{color:#fff; font-size: inherit;
    font-weight: 500;}

#sidbar > div h2 {bottom: 40px;}

#sidbar nav li { padding: 18px 0 17px 28px; min-height: 42px; border-bottom: #282835 1px solid; }

nav li a {font-size:22px;color:#fff;text-decoration: none;}

nav li a:hover{text-decoration: underline; color:#fb6470;}

/* THe sidbar-style - End */

/* THe header-style - start */

header, .main, footer{max-width: 952px;width:inherit;clear:both;padding:0;margin:0;float: right;}

header {padding-top: 110px;padding-bottom: 115px;}

header h1, header h2 {text-align: center;color: #fff;}

header h1{margin-bottom: 1px;}

header h2{font-size: 13px;display: block;margin: 0 auto;max-width: 502px;width: inherit;line-height: 28px;margin-bottom: 47px;}

header > div {display: block;margin: 0 auto;width: 170px;height: 49px;border-radius: 5px;background-color: #fb6470;}

header > div a {display:block;padding: 10px 0 0 47px;height:inherit;width:inherit;font-size:22px;text-decoration: none;
color: #fff;}

header > div a:hover{text-decoration:underline;}

/* THe header-style - End */

/*The main contant on the page - start */

.main{padding-top: 75px; background-color: #fff; text-align: center;}

main section, footer > div {max-width: 780px;width: 100%;margin: 0 auto;float: none;clear: both;display: block; /*height: 100%;*/ text-align: left; }

main section:first-of-type{max-height: 550px;height:100%;display: inline-block;padding: 0 10px 69px 27px;border: 0; margin-bottom: 71.3px;}

.main main section.demodata {border-bottom: 1px #e0e0e0 solid;display: -webkit-box;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;-webkit-box-pack: center;-ms-flex-pack: center;justify-content:  space-between;}

.main main section.portfolio_group {padding: 6px 10px 0 30px;     display: -webkit-box;     display: -ms-flexbox;     display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between;}

.main section.experience div.experience__right{border-bottom: 0;border-bottom: initial;}
.portfolio_group > div {display: inline-block;float: left;}
.portfolio_group > div + div {width: 318px; height: 470px; background-color:#353541;}

main section:first-child > div:nth-child(1){padding: 30px 0px 0 0px;float: left;max-width: 398px;display: table-cell;}

.demodata > div:last-of-type{ float:right;width: 100%; background-color: #353541;max-width: 324px;max-height: 464px; display: table-cell;}

.demodata > div:last-of-type:nth-child(2) img {width: inherit; height: 420px;display: block;}

section h2 {display: block;float: none;clear: both;letter-spacing: 1.2px;margin-bottom: 36px;word-spacing: -2px;float: none; width: 100%;}

section h2:after {content: '';width: 75px;height: 2px;background-color: #fb6470;display:block;top:12px;position:relative;}

main section:first-child > div:nth-child(1) > div:nth-of-type(1){line-height: 26px;margin-bottom: 36px;}

main section:first-child > div:nth-child(1) > div:nth-of-type(2) ul li{border:0px;border-bottom:1px #e0e0e0 solid;padding-bottom: 12px;margin-bottom: 17px;}

main section:first-child > div:nth-child(1) > div:nth-of-type(2) ul li:nth-of-type(2){margin-bottom: 15px;}

main section:first-child > div:nth-child(1) > div:nth-of-type(2) ul li:nth-of-type(3) { margin-bottom: 14.7px; }

main section:first-child > div:nth-child(1) > div:nth-of-type(2) ul li > * {display:inline-block;}

main section:first-child > div:nth-child(1) > div:nth-of-type(2) ul li > h3{margin-right: 6px;}

main section:first-child > div:nth-child(1) > div:nth-of-type(2) ul li > span{font-size:18px;}

main section:first-child > div:nth-child(1) > div:last-of-type ul li > h3{margin-right: 2px;color: #000;font-weight: 500;}

main section:first-child > div:nth-child(1) > div:last-of-type ul li > span{word-spacing: -6px;}

/* Work Experience, Education - start*/

section.experience, main section:nth-of-type(4) {padding: 68px 0 0 29px; display: block; -webkit-box-sizing: border-box; box-sizing: border-box;}

.experience + .experience{padding-top: 82px;}
.experience + .experience h2{margin-bottom: 30px;}

section.experience div.experience__right{padding-left: 53px; }

section.experience{margin-bottom: 72px; padding-top: 5px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;}
section.experience + .experience{margin-bottom: 90px; }

section.experience div.experience__right{margin-bottom: 0;margin-bottom: initial;}

section.experience > div{position: relative; width: 100%; max-width: 372px; /* height: 100%;*/ /* display: inline-block;*/ float: left;}
section.experience > div{}
section.experience div.experience__left{border-right: 1px #353541 solid;}

section.experience > div ul, section.experience div.experience__right ul{position:relative; display:inline-block}

section.experience > div ul:first-child{ margin-top: 88px;}
section.experience > div ul{ margin-bottom: 152px;}
section.experience div.experience__right ul:first-child{ margin-top: 10px;}
section.experience > div ul:last-child { margin-bottom:0px;}

section.experience > div ul li, section.experience div.experience__right ul li{display: block; width: 317px;border-radius: 7px;background-color: #353541;color: #fff;padding: 14px 0px 30px 16px;position: relative;}

section.experience > div:nth-of-type(1) ul li:before, section.experience div.experience__right > div:nth-of-type(1) ul li:before {content:'';position: absolute;display:inline-block;width:23px;height:21px;background-color: #353541;left: 100%;bottom: 13.4px;-webkit-clip-path: polygon(0px 0px, 24px 19px, 24px 19px, 0px 21px);clip-path: polygon(0px 0px, 24px 19px, 24px 19px, 0px 21px);}

section.experience > div:nth-of-type(1) ul li:after, section.experience div.experience__right > div:nth-of-type(1) ul li:after {content: '';position: absolute;display: inline-block;width: 32px;height: 32px;left: 112.1%;bottom: -4.7px;background: url(/static/apps/img/circle.png) no-repeat;}

/* section.experience > div:nth-of-type(2) ul:first-of-type{top: 0px; left: 0;}

section.experience div.experience__right > div:nth-of-type(2) ul:first-of-type{ top: 0; left: 0; }

section.experience > div:nth-of-type(2) ul:nth-of-type(2){top: 278px;left: 50px;} */

/* section.experience div.experience__right > div:nth-of-type(2) ul:nth-of-type(2){top: 274px;left: 55px;} */

section.experience > div:nth-of-type(2) ul li:before, section.experience div.experience__right > div:nth-of-type(2) ul li:before {content:'';position: absolute;display:inline-block;width:23px;height:21px;background-color: #353541;right: 100%;bottom: 71.4px;-webkit-clip-path: polygon(0px 2px, 24px 0px, 24px 21px, 0px 2px);clip-path: polygon(0px 2px, 24px 0px, 24px 21px, 0px 2px);}

section.experience > div:nth-of-type(2) ul li:after, section.experience div.experience__right > div:nth-of-type(2) ul li:after {content: '';position: absolute;display: inline-block;width: 32px;height: 32px;left: -22.4%;bottom: 82px;background: url(/static/apps/img/circle.png) no-repeat;}
section.experience > div:nth-of-type(2) ul li:after{bottom: 75px;}
section.experience > div > ul > li > h4, section.experience div.experience__right > div > ul > li > h4{display:inline-block;}

section.experience > div > ul > li > div, section.experience div.experience__right > div > ul > li > div{padding-top: 0px;padding-bottom: 8px;}

section.experience > div > ul > li > div:first-of-type, section.experience div.experience__right > div > ul > li > div:first-of-type{ color:#fb6470; font-size: 18px; }

section.experience > div > ul > li > div:nth-of-type(2). section.experience div.experience__right > div > ul > li > div:nth-of-type(2){ padding-top: 3px; line-height: 19px; }

/* Work Experience, Education - end*/

/* My Skils - start*/

.main main section.skills{min-height: 429px;background-color: #1d1d24;width: 100%;max-width: none;max-width: initial;padding-top: 58px;display: table; }

main section:nth-of-type(4) * {color: #fff; }

main section:nth-of-type(4) h2{float:right;clear:both;width: 100%;max-width: 838px;}

main section:nth-of-type(4) h2:after{top: 21px;}

.dataSkills, main section:last-of-type > div >div{display: inline-block;width: 100%;max-width: 324px;float: left;margin-left: 9%;}

.dataSkills + .dataSkills{float: right;max-width: 364px;margin: 0 10% 0 0;}

main section:nth-of-type(4) > .dataSkills >ul > li{position:relative;padding: 28px 0 0 3px;margin-bottom: 4px;}

main section:nth-of-type(4) > .dataSkills >ul > li > h3{word-spacing:-5px;letter-spacing: 0.8px;margin-bottom: 16px;}

.dataSkills >ul > li .line {position:relative;min-width:80px;width:100%;max-width: 265px;background-color:#bcbcbe;height: 4px;}

.line > div:first-of-type{position:absolute;left: 107.4%;bottom: -7px;}

.line > div:first-of-type::after{content:'%';font-size: 15px;}

.line > div:nth-of-type(2){background-color:#e85662; height:4px; min-width:0; max-width:265px;}

.line > div:nth-of-type(2)::after{content:'';display:block;position: absolute;background-color:#e85662;width: 18px;height: 18px;border-radius: 30px;bottom: -6px;left: 100%;}

/* My Skils - end*/

/* Leave a Massage - start */

main section:last-of-type{min-height: 427px;background: #fff;width: 100%;max-width: none;max-width: initial;padding-top: 58px;border-bottom: 0;}

main section:last-of-type > div {width:100%;max-width:750px;margin:0 auto;padding: 17px 0 0 1%;display: table;}

main section:last-of-type > div > div{margin: 0;padding: 0;padding: initial;float: none;float: initial;clear: none;clear: initial;}

.contacts-group + .contacts-group{float:right;width:100%;max-width: 392px;padding: 8px 0px;height: 280px;border-left: 1px #cccccc solid;}

main section:last-of-type > div h2{font-size:22px;word-spacing:-4px;margin-bottom: 18px;}

.Leave-group > div {float:left;min-width:170px;width:100%;max-width: 276px;height: 100%;min-height: 36px;padding: 1px 0 0 2px;margin-bottom: 21px;}

.Leave-group > div:nth-of-type(3){min-height: 95px;margin-bottom: 18px;}

.Leave-group > div:nth-of-type(3) > textarea{height: 96px;max-width: 269px;}

.Leave-group > div > input {width: inherit;height: 32.4px; padding-left: 13px;max-width: 268px; font-style:italic;}

.Leave-group > div > input, .Leave-group > div:nth-of-type(3) > textarea{border: 1px #1d1d24 solid;}

.Leave-group > div:nth-of-type(3) > textarea {padding: 5px 0 0 13px;}

.Leave-group > div:first-of-type {margin-bottom: 19px;}

.Leave-group > div:first-of-type > input {height: 33px;}

.Leave-group > div:last-of-type{ position: relative; height: 35px; margin-bottom: 0; margin-bottom: initial; padding-right: 5px;}

.Leave-group > div:last-of-type input{ text-align: center; width: 90px; float: right; background-color: #fb6470;
padding:0; color: #fff;}

main section:last-of-type > div > div:last-of-type > div{float: right;width: 100%;max-width: 341px;margin-bottom: 56px;}

.contacts-group + .contacts-group > div:first-of-type{background: left url("/static/apps/img/location.svg") no-repeat, url("/static/apps/img/location.png") no-repeat;}

main section:last-of-type > div > div:last-of-type > div:nth-of-type(2){background: left url("/static/apps/img/email.svg") no-repeat, url("/static/apps/img/email.png") no-repeat;}

main section:last-of-type > div > div:last-of-type > div:nth-of-type(3){background: left url("/static/apps/img/phone.svg") no-repeat, url("/static/apps/img/phone.png") no-repeat;}
div.main main .contacts-group + .contacts-group > div{background-size: 32px 32px;background-position: 4px;}

.contacts-group h3{display:block;float:right;width:100%;max-width: 259px;clear: both;margin-bottom: 16px;color: #3e3e3e;opacity: 1;z-index: 10;}

main section:last-of-type > div > div:last-of-type > div > div{clear:both; float:right; width:100%; max-width:260px; word-spacing:-5px}

main section:last-of-type > div > div:last-of-type > div > div a{color:#6f6f6f; text-decoration:none;}

/* Leave a Massage - end */

/*The main contant on the page - end */

/*The footer contant on the page - start */

footer{display:block;padding-top: 37px;background-color: #fff;position: absolute;bottom: 0;}

footer > div {border-top: 1px #e0e0e0 solid;max-width: 773px;padding-top: 25px;}

footer > div > div{margin: 0 auto;width: 130px;height: 28px;padding: 6px 0 0 33px;}

footer > div > div a {display:inline-block;width: 32px;height:19px;background: left url('/static/apps/img/twiter.svg') no-repeat, url('/static/apps/img/twiter.png') no-repeat;background-size: 19px 14px;border-right: 1px #acacac solid;}

footer > div > div a:nth-child(2) {display:inline-block;width: 39px;height:19px;background: center url('/static/apps/img/skape.svg') no-repeat, url('/static/apps/img/skape.png') no-repeat;background-size: 19px 14px;background-position-x: 7px;}

footer > div > div a:nth-child(3) {display:inline-block;width: 39px;height:19px; background: center url('/static/apps/img/world.svg') no-repeat, url('/static/apps/img/world.png') no-repeat;background-size: 19px 14px;background-position-x: 7px; border-right:0}

footer > div > p {max-width: 360px;display: inline-block;
  height: 30px;
  left: 34%;
right: auto;font-size: 12px; }

/* The footer contant on the page - end */
